<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace命名空间，作用就是对sql进行分类化管理，理解sql隔离
注意：使用mapper代理方法开发，namespace有特殊重要的作用，namespace等于mapper接口地址
-->
<mapper namespace="user">


    <insert id="insertUser" parameterType="com.qm.silijion.javabean.User" >
		INSERT INTO t_user
		(
		    id,
		    username,
		    money
		 )
		VALUES
		(
		    #{userName},
		    #{passWord},
		    #{money}
		)
	</insert>

	<select id="queryById" parameterType="java.lang.Integer" resultType="com.qm.silijion.javabean.User">
		select * from t_user where id = #{id}
	</select>

</mapper>


